// src/components/CardsContainer/CardsContainer.scss
@import '../../assets/variables';

.cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 960px;
  height: 520px;
  overflow: hidden;
  border-radius: 8px;
  background-color: $color-very-light-gray;
  align-items: center;

  @media (max-width: $breakpoint-mobile) {
    // 1 column for mobile
    grid-template-columns: 1fr;
    height: auto;
  }
}