// src/assets/Card.scss
@import '../../assets/_variables';

.card {
  overflow: hidden;
  padding: 40px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  width: 306px;
  height: 100%;

  .card-logo {
    width: 64px;
    height: 40px;
    object-fit: contain;
    display: block;
  }

  .card-button {
    display: inline-block;
    width: 100%;
    background-color: hsl(0, 0%, 95%);
    margin-top: 60px;
    border-radius: 26px;
    border: 2px solid hsl(0, 0%, 95%);
    cursor: pointer;
    max-width: 140px;
    height: 49px;
    transition: all 0.3s ease-out;
    font-family: $font-family-lexend-deca;

    &:hover {
      color: white;
      border-color: white;
    }
  }


  // Specific colors for each type of card
  &.sedans .card-button {
    color: $color-bright-orange;

    &:hover {
      background-color: inherit;
      color: white;
    }
  }

  &.suvs .card-button {
    color: $color-dark-cyan;

    &:hover {
      background-color: inherit;
      color: white;
    }
  }

  &.luxury .card-button {
    color: $color-very-dark-cyan;

    &:hover {
      background-color: inherit;
      color: white;
    }
  }


  h2 {
    font-family: $font-family-big-shoulders-display;
    font-size: 3rem;
  }

  p {
    font-family: $font-family-lexend-deca;
    font-size: 16px;
    color: hsla(0, 0%, 100%, 0.75);
    line-height: 1.6;
  }
}

// Responsive adjustments
@media (max-width: $breakpoint-mobile) {
  .card {
    margin: 30px auto;
    width: 320px;

    .card-button {
      margin-top: 0;
    }
  }

}