// src/assets/_variables.scss
// Variables basées sur le guide de style
$background-color-app: hsl(0, 0%, 95%);
$global-padding: 2rem;
$gap: 20px;
$breakpoint-mobile: 768px;
$breakpoint-desktop: 1440px;
$font-family-lexend-deca: 'Lexend Deca',
sans-serif;
$font-family-big-shoulders-display: 'Big Shoulders Display',
cursive;
$font-size-body: 15px;
$color-bright-orange: hsl(31, 77%, 52%);
$color-dark-cyan: hsl(184, 100%, 22%);
$color-very-dark-cyan: hsl(179, 100%, 13%);
$color-transparent-white: hsla(0, 0%, 100%, 0.75);
$color-very-light-gray: hsl(0, 0%, 95%);