// src/assets/App.scss
@import 'assets/_variables';
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');

html {
  font-size: $font-size-body;
  font-family: $font-family-lexend-deca;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  background: $background-color-app;
  margin: 0;
  color: hsl(0, 0%, 0%);
}

#root {
  max-width: $breakpoint-desktop;
  margin: 0 auto;
  padding: $global-padding;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  // min-height: 100vh;
  // gap: $gap;

  @media (max-width: $breakpoint-mobile) {
    flex-direction: column;
  }
}